body {
  background-color: #6096B4;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 20px 10px;
  background-color: #93BFCF;
  border-radius: 14px;
  color: white;
}

#logo {
  display: flex;
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  margin-right: auto;
  padding-left: 20px;
  color: whitesmoke;
  text-decoration: none;
}

#header button {
  background-color: #93BFCF;
  color: whitesmoke;
  border: none;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 20px;
  margin-left: 10px;
  border-radius: 6px;
  align-items: center;
  margin-top: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: transparent solid 2px;
}

#header button:hover {
  border: whitesmoke solid 2px;

}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: auto;
  font-size: 20px;
  margin-top: 20px;
}

#search input[type="text"] {
  width: 55%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 20px;
  box-shadow: 0px 0px 5px rgb(146, 144, 144);
  font-size: 16px;
  outline: none;
}

#search button {
  background-color: #93BFCF;
  color: whitesmoke;
  border: none;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  border-radius: 6px;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

#search button:hover {
  background-color: #6096B4;
  border: whitesmoke solid 2px;
}


#welcome {
  display: flex;
  justify-content: space-between;
  border-radius: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 40px;
  color: whitesmoke;
  margin: auto;
  width: 50%;
  padding: 10px;
}

/*  für den Raster-Container */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  padding: 90px;
  width: 65%;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 20px;
  justify-self: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

/* für die einzelnen Kästen */
.box {
  background-color: #93BFCF;
  box-shadow: 0px 0px 4px rgb(153, 153, 153);
  border-radius: 7px;
  padding: 10px;
  max-height: 180px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 25px;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  border: transparent solid 2px;
}

.box:hover {
  
    background-color: #6096B4;
    border: whitesmoke solid 2px;
  
}

/* .imgCard{
  width: 100%;
  height: auto;
  border-radius: 5px;
} */

/* für die Texte innerhalb der Kästen */
.box span {
  display: block;
  margin-top: 10px;
}

#infoBoxDiv {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: space-between;
  justify-items: space-between;
  width: 90%;
  padding: 10px;
}

#infoBox1 {
  background-color: #5BCAEF;
  border: dashed 2px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 25px;
  margin-right: 10px;
  justify-content: center;
  align-content: center;
  width: 60%;
  height: 45px;
  color: black;
}

#infoBox2 {
  background-color: #5BCAEF;
  border: dashed 2px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 25px;
  margin-right: 10px;
  justify-content: center;
  align-content: center;
  width: 30%;
  height: 45px;
  color: black;
}

#infoBox3 {
  background-color: #5BCAEF;
  border: dashed 2px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 25px;
  margin-right: 10px;
  justify-content: center;
  align-content: center;
  width: 10%;
  height: 45px;
  color: black;
}

/* Styling für die Film-Liste */
.movie-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 93%;
  align-items: center;
  align-content: center;
  align-self: center;
  border: 1px solid #4A4A4A;
  border-radius: 3px;
  font-family: 'Gill Sans', 'Gill Sans MT';
}

/* Styling für jeden einzelnen Film */
.movie-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #5C5C5C;
  font-family: 'Gill Sans', 'Gill Sans MT';
}

/* Styling für das Filmplakat */
.movie-poster {
  width: 80px;
  margin-right: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  border-radius: 3px;
}

/* Styling für den Titel und die Beschreibung */
.movie-details {
  flex: 1;
  font-family: 'Gill Sans', 'Gill Sans MT';
}

.movie-title {
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 0 5px 0;
  font-family: 'Gill Sans', 'Gill Sans MT';
}

.movie-title:hover {
  text-decoration: underline;
}

#movie-title-link {
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 0 5px 0;
  color: #252525;
  font-family: 'Gill Sans', 'Gill Sans MT';
}

.movie-overview {
  font-size: 15px;
  color: #666;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT';
}

#detail-title {
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 34px;
  color: #6666FF;
}

.page {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  justify-content: center;
  font-family: 'Arial';
  font-size: 35px;
  align-items: center;
  color: black;
}

.page-link {
  text-decoration: none;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 30x;
}

.prev-page,
.next-page {
  font-size: 45px;
  text-decoration: none;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
}
